*{
    margin: 0;
    padding: 0;
}

.headerclass{
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/banner1.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color:#fff;
    text-align: center;
    padding-top: 20px;

   
}

.headerclass img{
    width: 170px;
    float:left;
}

.login-btn{
    background-color:transparent ;
    width: 7rem;
    padding: .5rem;
    color: #fff;
    border-radius: 50px;
    border: 2px solid #fff;
    float: right;
    cursor: pointer;
}
.login-btn:hover{
    background-color:transparent;
}

.header-heading{
    padding-bottom: 0px;
    margin-top: 300px;
}

.header-heading h1{
    padding-top: 18px;
    font-size: 55px;

}

.header-heading p{
  
    padding: 5px;
}

.input-group{
    display: flex;
    justify-content: center;
}

.input-search{
    padding: 5px;
    border: 0 !important;
    border-radius: 30px !important;
    margin: 2px;
    box-shadow: none !important;
    width: 30rem;

}

.input-search:focus{
    outline: none;
    background-color: whitesmoke;
}

.search-btn{
    background-image:linear-gradient(#00ff7e,#1f3d90) ;
    width: 7rem;
    padding: .5rem;
    color: #fff;
    border-radius: 50px;
    border:none;
    box-shadow: none !important;
    cursor: pointer;

}

/*Feature*/

.feature{
    margin-top: 50px;
}

.feature-img img{
    width: 100%;
    padding: 0px;
    display: block;
}
.feature-img{
    
  display: inline-block;
  position: relative;
}
.cards{
    box-shadow: 0 0 10px 1px rgba(37,73,214,0.18);
    margin-bottom: 30px;
    margin-top: 20px;
   background-color: white;
}
.cards p{
    padding: 20px;
}
.cards h4{
    padding-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
    margin-top: 25px;
}
.feature-price{
    border-radius: 50%;
    height: 50px;
    width: 50px;
    background-color: #ff5722;
    padding: 0px;
    position: absolute;
    left: 5%;
    top: 35%;
    color: #fff;
    padding: 10px;
    

}
.feature-price p{
    text-align: center;
    padding: 0px;
}

.rating{
    float: right;
    background-color: #fff;
    color:#ff5722;
    position: relative;
}

.feature-dis{
    padding: 20px;
    text-align: justify;
}

.feature-bottom{
    padding-left: 20px;
    color: #ff5722;
}

/*Gallery*/

.gallery{
    background-color: #efefef;
    padding: 100px 10px;
}
.gallery h1{
}

.gallery-box img{
   width: 100%;
   border-radius: 10px;
   cursor: pointer;



}

.gallery-box img:hover{
    /*transform: scale(1.1);*/

    -webkit-transform: scale(1.1);
	transform: scale(1.1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

/*Banner*/

.banner{
    height: auto;
background-image:url(images/banner2.jpg);
background-size: cover;
background-position: center;
background-attachment: fixed;
color:#fff;
padding-top: 14%;

}

.banner-box{
    padding: 70px 0;
    background-color: rgba(0,0,0,0.7);
    text-align: center;

}

.booking-btn{
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #fff;
    padding: 10px;
    outline: none;
    color:#fff;
}

/*Review*/

.user-review{
    padding: 100px;
    text-align: center;
}

.reviewbox{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(0, 0, 100, 0.2);
    padding-bottom: 50px;
    height: auto;
}
.reviewbox p{
    padding: 50px 10px 10px 10px;
}
.reviewbox p::before{
    content: '\201d';
    display: block;
    position: absolute;
    font-size: 100px;
    color: #6495ed;
    font-family: sans-serif;
    left: 44%;
    top: -20px;
}

.user-img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
    position: relative;
    margin-top:-29px;
}

/* Footer */

.footer{
    background-image: linear-gradient(#2d557d,#9610fb);
    padding: 100px;
    color: #fff;
}
.footer-box p{
    font-size: 14px;
    padding-right: 35px;
    text-align:justify;
}

.footer-logo{
    width: 150px;
    padding-bottom: 20px;
}



